<section class="container mt-5">
    <div class="row">
        <div class="col-4 text-center position-fixed">
            <div class="card">
                <div class="card-body py-2">
                    <% if current_user.picture? %>
                        <%= image_tag current_user.picture.url, class: "rounded-circle mt-3", :size => "100x100" %>
                    <% else %>
                        <%= image_tag "https://cdn.pixabay.com/photo/2017/01/10/03/54/icon-1968236__480.png", class: "rounded-circle", :size => "100x100" %>
                    <% end %>
                    <h2><%= current_user.name %></h2>
                    <%= current_user.email %>
                    <hr>
                    <div class="py-2">
                        <div class="row mx-2">
                            <div class="col-6 mx-0 pl-0 pr-1">
                                <%= link_to "View Profile", user_path(current_user), class: "btn btn-warning text-white btn-block" %>
                            </div>
                            <div class="col-6 mx-0 pl-1 pr-0">
                                <%= link_to "Settings", edit_user_path(current_user), class: "btn btn-primary btn-block" %>
                            </div>
                            <% if current_user.is_admin? %>
                                <%= link_to  "Administration", admin_pages_home_path, class: "btn btn-outline-success btn-block mt-2" %>
                            <% end %>
                        </div>
                    </div>
                </div>  
            </div>
        </div>     
        <div class="col-7 mt-2 ml-auto">
            <div class="row">
                <div class="col-5">
                    <h2>Words Learned</h2></div>
                <div class="col-4 mt-auto ml-auto text-right">
                    <%= link_to "Back to Dashboard", dashboard_path %>
                </div>
            </div>
            <hr>
            <div class="row mb-2">
                <div class="col-4 ml-auto text-right">
                    <div class="btn-group">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <%= @button_name %>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <%= link_to "All categories", learned_words_index_path(word_filter: nil), class: "dropdown-item" %>
                            <% @categories.each do |category|%>
                                <%= link_to category.title, learned_words_index_path(word_filter: category.id), class: "dropdown-item" %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-4"><h6>Word</h6></div>
                        <div class="col-4"><h6>Your Answer</h6></div>
                        <div class="col-4"><h6>Correct Answer</h6></div>
                    </div>  
                </div>
            </div>    
            <% @words.each do |answer| %>
                <div class="card">
                    <div class="card-body py-2">
                        <div class="row">
                            <div class="col-4">
                                <%= answer.word.content %>
                            </div>
                            <div class="col-4 <%= answer_color(answer) %>">
                                <%= answer.choice.content %>
                            </div>
                            <div class="col-4">
                                <%= answer.word.correct_choice %>
                            </div>
                        </div>
                    </div>
                </div>   
            <% end %>
            <div class="col-2 mt-2 mx-auto">
                <%= will_paginate @words %>
            </div>
        </div>   
    </div>
</section>

