<section class="row">
    <div class="col-6 m-auto">
        <hr>
        <%= form_for @user do |f| %>
        <%= render "error_messages" %>
            <% if logged_in? %>
                <%= f.label :avator  %>
                <%= f.file_field :picture, class: "form-control" %>
            <% end %>
            <%= f.label :name  %>
            <%= f.text_field :name, class: "form-control" %>

            <%= f.label :email %>
            <%= f.email_field :email, class: "form-control" %>

            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control" %>

            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class: "form-control" %>

            <br>
            <%= f.submit btn_name, class: "btn btn-primary btn-block" %>
        <% end %>
    </div>
</section>
