<h1 class="text-center my-4">Followings</h1>

<div class="mx-5">
    <%= link_to "Back to Profile", user_path(current_user), class: "btn btn-outline-primary ml-3" %>
</div>

<div class="row mx-5">
    <% @followings.each do |user| %>
        <div class="col-6 mt-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3 align-center">
                            <% if user.picture? %>
                                <%= image_tag user.picture.url, class: "rounded-circle", :size => "100x100" %>
                            <% else %>
                                <%= image_tag "https://cdn.pixabay.com/photo/2017/01/10/03/54/icon-1968236__480.png", class: "rounded-circle", :size => "100x100" %>
                            <% end %>
                        </div>
                        <div class="col-6 mt-4">
                            <h5>
                                <% if user.is_admin == true %>
                                    <%= fa_icon("star") %>
                                <% end %>
                                <%= link_to user.name, root_path %> 
                            </h5>
                            <%= user.email %> <br>
                        </div>
                        <div class="col-3 mt-4">
                            <% relationship = current_user.relationship(user) %>
                            <%= button_to "Unfollow", relationship_path(relationship), method: :delete, params: {followed_id: user.id}, class: "btn btn-outline-danger" %> 
                        </div>
                    </div>
                </div>
            </div>     
        </div>
     <% end %>
     <hr>
</div>

<div class="col-2 mt-5 mx-auto pl-5">
    <%= will_paginate @followings %>
</div>